// main: ../App.scss
#customizer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // background: rgba(0,0,0,.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity .2s ease .5s;
    &.show {
        opacity: 1;
        pointer-events: all;
        .border {
            box-shadow: inset 0 0 0 20px #434051;
            animation: inset .5s ease .5s;
            @keyframes inset {
                0% {
                    box-shadow: inset 0 0 0 0px #434051;
                }
                100% {
                    box-shadow: inset 0 0 0 20px #434051;
                }
            }
        }
    }
    .border {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // box-shadow: inset 0 0 0 0 #434051;
        transition: box-shadow .2s ease;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0 0 0 20px #535061;
        }
        .point {
            position: absolute;
            background: rgba(255,255,255,.9);
            height: 20px;
            width: 20px;
            opacity: 0;
            border-radius: 50%;
            transform: scale(.8);
            &.show {
                opacity: 1;
            }
            &.point {
                transform: translate(-50%, -50%) scale(.75);
                // transform: ;
            }
        }
    }
    .overlay {
        position: absolute;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        top: 0;
        left: 0;
        margin: 20px;
        // opacity: 0;
        font-size: 16px;
        color: #fff;
    }
}
